:root {
    --verylightblue: rgb(193, 239, 239);
    --lightblue: rgb(153, 209, 209);
    --mediumblue: rgb(113, 179, 179);
    --darkblue: rgb(73, 149, 149);
    --verydarkblue: rgb(33, 119, 119);
    --black: rgb(0, 0, 0);
    --darkgrey: rgb(51, 51, 51);
    --grey: rgb(102, 102, 102);
    --lightgrey: rgb(204, 204, 204);
    --white: rgb(255, 255, 255);
    --red: rgb(255, 60, 60);
    --orange: rgb(255, 180, 35);
    --green: rgb(65, 185, 65);
    --blue: rgb(90, 125, 210);
    --purple: rgb(220, 55, 230);
}

/* Adds space to top when jumping to a section */
html {
    scroll-padding-top: 40px;
}

/* General styling */
body {
    margin: 0px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    color: var(--verydarkblue);
    font-size: 32px;
    margin-bottom: 0px;
}

h2 {
    color: var(--darkblue);
    font-size: 24px;
}

p {
    color: var(--black);
    font-size: 16px;
}

a:link, a:visited {
    color: inherit;
    text-decoration: inherit;
}

table {
    border-spacing: 0;
    width: 100%;
    border-style: solid;
    border-color: var(--black);
    border-width: 1px;
}

th, td {
    border-style: solid;
    border-width: 1px;
    padding: 5px;
}

.myWrapper {
    display: grid;
    grid-template-columns: 203px auto 25vw 25vw;
    grid-template-rows: 100px 40px 80px auto auto auto;
    grid-template-areas: "banner banner banner banner"
                        "index index index index"
                        "pcontents header header header"
                        "pcontents body body body"
                        "about about contact contact"
                        "footer footer footer footer";
                        
}

.myBanner {
    grid-area: banner;
    background-color: var(--white);
    position: relative;
}

#banner_img {
    width: 600px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.myIndex {
    grid-area: index;
    background-color: var(--lightblue);
    color: var(--darkgrey);
    font-size: 17px;
    display: block;
    display: flex;
    justify-content: space-evenly;
    position: sticky;
    top: 0;
    align-items: center;
}

.myIndex a:hover {
    transform: scale(1.1);
    transition: 0.1s;
}

#openIndex {
    position: absolute;
    left: 20px;
    top: 25px;
    display: none;
    font-size: 40px;
    margin: 0;
}

#closeIndex {
    position: absolute;
    left: 265px;
    top: 10px;
    display: none;
    font-size: 40px;
    margin: 0;
}

.myContents {
    grid-area: pcontents;
    background-color: var(--white);
    padding: 0 20px 0;
    line-height: 25px;
}

.myContents h2 {
    padding-top: 8px;
}
.myContents a {
    display: block;
    width: fit-content;
}

.myContents a:hover {
    transition: 0.1s;
    transform: scale(1.05);
}

.myHeader {
    grid-area: header;
    padding: 0 20px 0;
}

.myBody {
    grid-area: body;
    background-color: var(--white);
    padding: 0 20px 20px;
    max-width: 750px;
    line-height: 1.7;
}

.myBody h2 {
    margin: 0;
}

/* Home Page */
#introduction_list {
    list-style-type: circle;
}

/* Matter */
#atom_img {
    width: 250px;
    float: left;
    padding-right: 12px;
}

#element_img {
    width: 300px;
    float: right;
    padding: 10px 12px 0px;
}

#element_compound_mixture_img {
    width: 100%;
}

/* Periodic Table */
#periodic_table_img {
    width: 100%;
}

/* Precipitation */
#chemical_reactions_list {
    list-style-type: circle;
}

#state_symbols_list {
    list-style-type: circle;
}

#term_definition {
    text-align: left;
}

#precipitation_reaction_formula {
    text-align: center;
}

/* Acids, Bases and Indicators */
#universal_indicator {
    text-align: center;
}

#td_red {
    background-color: var(--red);
}

#td_orange_or_yellow {
    background-color: var(--orange);
}

#td_green {
    background-color: var(--green);
}

#td_blue {
    background-color: var(--blue);
}

#td_purple {
    background-color: var(--purple);
}

#neutralisation_list {
    list-style-type: circle;
}

.to_top {
    background-color: var(--darkblue);
    color: var(--white);
    padding: 10px 50px 10px;
    width: 100px;
    margin-top: 40px;
}

.myAbout {
    grid-area: about;
    background-color: var(--verylightblue);
    padding: 0 20px 10px;
}

.myContact {
    grid-area: contact;
    background-color: var(--verylightblue);
    padding: 0 20px 10px;
}

.start {
    text-align: start;
    float: left;
}
.end {
    text-align: end;
    float: right;
}

.myFooter {
    grid-area: footer;
    background-color: var(--verydarkblue);
    padding: 0 10px 0;
}

.myFooter p {
    color: var(--white);
}

.myFooter a:link, a:visited, a:hover, a:active {
    color: var(--verylightblue);
    text-decoration: underline;
}

@media (max-width: 840px) {
    html {
        scroll-padding-top: 0px;
    }

    .myWrapper {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 100px 70px auto auto auto auto;
        grid-template-areas: "banner"
                            "header"
                            "pcontents"
                            "body"
                            "about"
                            "contact"
                            "footer";
    }

    #banner_img {
        width: 70vw;
        max-width: 600px;
    }

    .myIndex {
        position: absolute;
        width: 210px;
        padding: 35px 70px 0px 30px;
        height: 380px;
        display: none;
        z-index: 0;
    }

    .myIndex a {
        justify-content: inherit;
        display: block;
        line-height: 3.5;
        width: fit-content;
    }

    #openIndex {
        display: inline;
    }
    
    #openIndex:hover {
        transform: scale(1.1);
        transition: 0.1s;
    }

    #closeIndex {
        z-index: 100;
        display: none;
    }

    #closeIndex:hover {
        transform: scale(1.1);
        transition: 0.1s;
    }

    .myContents {
        padding-bottom: 16px;
        width: fit-content;
    }
}